body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: #ffff;
}

h1 {

}

canvas {
  border: 5px solid red;
}

.rightColumn {
  float: right;
  padding: 40px;
}

.copy {
  text-align: center;
}
